body {
  width: 100vw;
  height: 100vh;

  background-color: blue;
}

/* <header> */
#top-bar-header {
  background-color: pink;
}

#top-bar-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 3vh 3vw;
}

#top-bar-navigation-list {
  display: flex;
  flex-direction: row;
}

.top-bar-navigation-list-item:not(:first-child) {
  margin-left: 3vh;
}

.top-bar-navigation-list-item a {
  padding: 1vh 1vw;
  background-color: purple;
  border-radius: 5px;
}
/* </header> */

/* <main> */
main {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  row-gap: 20px;
}
.content-box {
  background-color: aqua;
  border: 1px solid #ddd;
  width: 30vw;
  height: 15vw;
}
/* </main> */
